.ui-flex{
    display: flex;
    justify-content: center;
}

.ui-align-stretch{
     align-items: stretch; 
}
.ui-align-center{
    align-items: center;
}
.ui-justify-end{
    justify-content: flex-end;
}
.ui-justify-start{
    justify-content: flex-start;
}
.ui-justify-space-between{
    justify-content: space-between;
}

body{
    background: rgb(97 116 133);
}


.ui-main-content{
    padding:10px;
    background-color: rgba(144, 197, 210, 0.657);
    height: fit-content;
    width:800px;
    gap:5px;
    /* position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  */
}

.ui-signup-image{
    flex:1;
    background:url("assets/loading.gif") no-repeat center/cover;
    border-radius:10px;
}
.ui-signup-form{
    flex:1;
    border:1px solid black;
    border-radius:10px;
    padding:10px;
    flex-direction: column;
    gap:40px;
    width:500px;
   
}
.ui-sub-content{
    width:400px;
    margin-bottom: 10px;
    label{
        width:100px;
        font-weight:500;
        font-size:18px;
        margin-right:30px
    }
    input, select{
       flex:1;
       padding: 8px;
       border: 3px solid #ccc;
       border-radius: 5px;
       outline: none;
    }
}
.ui-form-title{
    text-decoration: underline;
}
.ui-button{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:70px;
    cursor: pointer;
    font-weight: bold;
} 
.ui-button-actions{
    gap:132px;
}
.ui-submit{
    background-color:blanchedalmond;
    /*cursor:not-allowed;
    transition: width 0.5s ease-in-out; */
}
.ui-reset{
    background-color: salmon;
    cursor: pointer;
}


input:valid, select:valid{
    border-color: none;
}

input:focus:invalid, select:focus:invalid {
    border-color: red;
}

/* .ui-signup-form:valid .ui-submit {
    background-color: #a2ffa2;
    cursor: pointer;
    pointer-events: auto;
    width: 110px;
} */
.ui-users-data-table{
    margin-top:30px;
}
.ui-users-table {
    width:900px;
    border-collapse: collapse;
    background-color: rgb(40, 192, 197);
    text-align: center;
    th, td{
        border:1px solid black;
        padding:20px;
        min-width:150px;
        max-width:150px;
        white-space: nowrap; 
        overflow:scroll; 
        outline: none;
    }
    td[contenteditable="true"]:focus {
       color: rgb(30, 25, 23);
       font-weight: bold;
       background-color: rgba(9, 241, 140, 0.507);
    }
    caption{
        background-color: rgb(40, 192, 197);
        padding:10px;
        font-weight: bold;
        font-size:25px;
    }
}
.ui-crud-container{
    flex-direction: column;
    align-items: center;
}
.ui-table-btn{
    background-color: beige;
    font-weight: bold;
}
.ui-table-btn[value="OFF"], .ui-table-btn[value="delete"]:active{
    background-color: salmon;
}

.ui-table-btn[value="ON"], .ui-table-btn[value="update"]:active, .ui-submit:active{
    background-color: rgb(70, 206, 120);
}
.ui-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    color: black;
    font-weight:bold;
    padding: 12px 20px;
    border-radius: 5px;
    white-space: pre-line;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9999;
}
.ui-notification.show {
    opacity: 1;
}
.ui-info{
    background-color: rgb(6, 134, 214); 
}
.ui-warn{
   background-color: rgb(229, 213, 41); 
}
.ui-error{
   background-color: rgb(239, 92, 42); 
}


.ui-invalid-fields::first-line {
    color: red;
    font-weight:bold;
    font-size:17px;
    text-decoration: underline;
}
